@use "/src/styles/_vars.scss" as *;
@use "/src/styles/_mixins.scss" as *;

.error-indicator {
  @include flex-center(column);
  text-align: center;
  padding: 15px;
  margin: 20px auto;
  .code {
    font-size: 7rem;
    font-weight: 700;
    color: $error-color;
    margin-bottom: 15px;
  }
  .text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $gray-color;
  }
}
