$primary-color: #12a8cd;
$secondary-color: #0e0d0d;
$light-gray: #fafafa;
$white: #fff;
$hover-color: #a8e3ed;
$border-color: #ddd;

$font-main: Arial, Helvetica, sans-serif;
$font-size-default: 1rem;
$font-size-small: 0.6rem;
$font-size-large: 1.5rem;

$padding-default: 10px;
$border-radius: 7px;
