@use "./vars.scss" as *;
@use "./mixins.scss" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  @include flex-center(column);
  min-height: 100vh;
  font-family: $font-main;
  background-color: $light-gray;
}

h1 {
  text-align: center;
  font-size: $font-size-large;
  margin-top: 25px;
}

section {
  min-height: 500px;
}
