@use "./vars.scss" as *;
@use "./mixins.scss" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  @include flex-center(column);
  min-height: 100vh;
  font-family: $font-main;
  background: -webkit-linear-gradient(
    315deg,
    rgba(18, 168, 205, 0.5) 8%,
    rgba(246, 127, 127, 0.8) 84%
  );
}

.main {
  padding-top: 70px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
section {
  min-height: 500px;
}
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.menu {
  position: sticky;
}
