.footer {
  background-color: #12a8cd;
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 20px;

  p {
    margin: 0;
    color: #0e0d0d;
    font-size: 1rem;
  }
}
