@use "./vars.scss" as *;
@use "./mixins.scss" as *;

.word-list {
  @include flex-center(row, center, center);
  flex-wrap: wrap;
  gap: 25px;
}

.card-section {
  @include flex-center(row, center, center);
  height: 100%;
}
