@use "/src/styles/_vars.scss" as *;
@use "/src/styles/_mixins.scss" as *;

.word-card {
  @include flex-center(column, center, center);
  width: 300px;
  height: 200px;
  border: 2px solid $primary-color;
  border-radius: $border-radius;
  padding: $padding-default;
  margin: 10px;
  text-align: center;
  @include transition(transform 0.2s);
  @include box-shadow-hover;
  background-image: conic-gradient(rgba(168, 239, 255, 0.8));

  .word {
    font-size: 1.5rem;
  }

  .transcription {
    font-size: 1rem;
    color: $gray-color;
    margin: 5px 0;
  }

  .translation {
    color: $primary-color;
    visibility: hidden;
    font-size: 1.2rem;
    margin-top: 10px;

    &.visible {
      visibility: visible;
    }
  }
  h3 {
    margin: 0 0 5px;
    color: #333;
  }

  p {
    margin: 0;
    color: #555;
  }
  .check-button {
    @include main-button;
    padding: 5px $padding-default;

    &:focus {
      border: 2px solid $primary-color;
      box-shadow: 0 0 11px 7px rgba(232, 118, 139, 0.8);
    }
  }
}
